h1 {
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #947db7;;
    padding: 3em;
}

.fa-brands {
    size: 10rem;
}

.container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 3% 0;
}

.box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 0 2% 0;
}

.box-two {
    background: rgb(193, 177, 255);
    margin: 0 2% 0 0;
    padding: 2%;
}

.box-three {
    background: rgb(193, 177, 255);
    margin: 0 0 0 2%;
    padding: 2%;
}

/* Media Queries for devices 768px and down */
@media only screen and (max-width: 768px) {
    .container-two {
      justify-content: center;
      flex-wrap: wrap;
    }

    .box-two {
        margin: 5% 0 0 0;
    }

    .box-three {
        margin: 5% 0 0 0;
    }
}