h1 {
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: rgb(194, 192, 255);;
    padding: 3em;
}

.container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 3% 0;
}

.box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 0 2% 0;
}

.box-two {
    background: rgb(235, 254, 253);
    margin: 0 2% 0 0;
    padding: 2%;
}

.box-three {
    background: rgb(235, 254, 253);
    margin: 0 0 0 2%;
    padding: 2%;
}